 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/pexels-mikhail-nilov-7583935.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 558px;
}

.u-section-1 .u-group-1 {
  width: 900px;
  min-height: 236px;
  margin: 39px auto 55px;
}

.u-section-1 .u-container-layout-1 {
  padding-right: 0;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  letter-spacing: 3px;
  margin: 20px 20px 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 460px;
  }

  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    text-transform: none;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 352px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 264px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 166px;
  }

  .u-section-1 .u-text-1 {
    letter-spacing: normal;
    width: auto;
    margin-top: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 149px;
}

.u-section-2 .u-image-1 {
  width: 808px;
  height: 400px;
  margin: -311px auto 33px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    width: 666px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    height: 427px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    height: 332px;
    margin-top: -183px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 165px;
  }

  .u-section-2 .u-image-1 {
    height: 267px;
    margin-top: -128px;
    margin-bottom: 26px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 621px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 0 auto 60px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 597px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 20px;
}

.u-section-3 .u-text-1 {
  font-size: 1.5rem;
  margin: -36px 20px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 20px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 35px 20px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 597px;
}

.u-section-3 .u-text-4 {
  transition-duration: 0.5s;
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  margin: 10px auto 0;
}

.u-section-3 .u-shape-1 {
  width: 512px;
  height: 382px;
  box-shadow: 0 0 40px 0 rgba(0,0,0,0.4);
  background-image: none;
  margin: 35px auto 0 10px;
}

.u-section-3 .u-form-1 {
  height: 388px;
  margin: -365px 48px -440px 28px;
}

.u-section-3 .u-input-1 {
  font-size: 1.125rem;
}

.u-section-3 .u-input-2 {
  font-size: 1.125rem;
}

.u-section-3 .u-form-group-3 {
  margin-left: 0;
}

.u-section-3 .u-input-3 {
  font-size: 1.125rem;
}

.u-section-3 .u-input-4 {
  font-size: 1.125rem;
}

.u-section-3 .u-btn-1 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 516px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 608px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-3 .u-text-1 {
    position: relative;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    position: relative;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    position: relative;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 492px;
  }

  .u-section-3 .u-shape-1 {
    width: 422px;
    margin-left: 0;
  }

  .u-section-3 .u-form-1 {
    width: 393px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 124px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 719px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 113px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-form-1 {
    width: 301px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 113px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 224px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 522px;
  }

  .u-section-3 .u-shape-1 {
    height: 407px;
    margin-top: 30px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-form-1 {
    width: 499px;
    margin: -360px 0 77px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-top: 27px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 643px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 27px;
    margin-right: 10px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 20px;
    margin-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 587px;
  }

  .u-section-3 .u-shape-1 {
    height: 389px;
    margin-top: 26px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-form-1 {
    width: 300px;
    margin: -355px auto 0;
  }
}

.u-section-3 .u-text-4 {
  transition-property: fill, color, background-image, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform !important;
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.85), rgba(0,0,0,0.85)), url("images/pexels-burst-374074.jpg");
}

.u-section-4 .u-sheet-1 {
  min-height: 492px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  background-image: none;
  font-weight: 400;
  text-transform: none;
  margin: 60px auto 0;
}

.u-section-4 .u-accordion-1 {
  margin-bottom: 60px;
  margin-top: 75px;
}

.u-section-4 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-4 .u-icon-1 {
  height: 17px;
  width: 17px;
  background-image: none;
}

.u-section-4 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-4 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-4 .u-icon-2 {
  height: 17px;
  width: 17px;
  background-image: none;
}

.u-section-4 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-4 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-4 .u-icon-3 {
  height: 17px;
  width: 17px;
  background-image: none;
}

.u-section-4 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-4 .u-accordion-item-4 {
  margin-bottom: 0;
}

.u-section-4 .u-accordion-link-4 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-4 .u-icon-4 {
  height: 17px;
  width: 17px;
  background-image: none;
}

.u-section-4 .u-accordion-pane-4 {
  min-height: 150px;
}

.u-section-4 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-4 .u-accordion-item-5 {
  margin-bottom: 0;
}

.u-section-4 .u-accordion-link-5 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-4 .u-icon-5 {
  height: 17px;
  width: 17px;
  background-image: none;
}

.u-section-4 .u-accordion-pane-5 {
  min-height: 150px;
}

.u-section-4 .u-container-layout-5 {
  padding: 20px 30px;
}

.u-section-4 .u-accordion-item-6 {
  margin-bottom: 0;
}

.u-section-4 .u-accordion-link-6 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-4 .u-icon-6 {
  height: 17px;
  width: 17px;
  background-image: none;
}

.u-section-4 .u-accordion-pane-6 {
  min-height: 150px;
}

.u-section-4 .u-container-layout-6 {
  padding: 20px 30px;
}

.u-section-4 .u-accordion-link-7 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-4 .u-icon-7 {
  height: 17px;
  width: 17px;
  background-image: none;
}

.u-section-4 .u-accordion-pane-7 {
  min-height: 150px;
}

.u-section-4 .u-container-layout-7 {
  padding: 20px 30px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-icon-1 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-4 .u-icon-2 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-4 .u-icon-3 {
    color: rgb(0, 0, 0) !important;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-accordion-1 {
    margin-top: 101px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/pexels-julia-m-cameron-4144294.jpg");
}

.u-section-5 .u-sheet-1 {
  min-height: 740px;
}

.u-section-5 .u-image-1 {
  width: 927px;
  height: 663px;
  margin: 39px auto;
}

@media (max-width: 1199px) {
   .u-section-5 {
    background-position: 50% 50%;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 709px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 676px;
  }

  .u-section-5 .u-image-1 {
    width: 720px;
    height: 515px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 666px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 386px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 460px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 243px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 981px;
}

.u-section-6 .u-group-1 {
  width: 759px;
  min-height: 118px;
  margin: 49px auto 0;
}

.u-section-6 .u-text-1 {
  font-weight: normal;
  margin: 20px 20px 0;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: -33px;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 342px;
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-icon-1 {
  height: 123px;
  width: 123px;
  background-image: none;
  margin: 19px auto 0 103px;
}

.u-section-6 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px 20px 0;
}

.u-section-6 .u-layout-cell-2 {
  background-image: none;
  min-height: 342px;
}

.u-section-6 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-icon-2 {
  height: 95px;
  width: 95px;
  margin: 30px auto 0;
}

.u-section-6 .u-text-3 {
  font-size: 1.5rem;
  margin: 20px 20px 30px;
}

.u-section-6 .u-layout-cell-3 {
  background-image: none;
  min-height: 342px;
}

.u-section-6 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-icon-3 {
  height: 95px;
  width: 95px;
  margin: 30px auto 0;
}

.u-section-6 .u-text-4 {
  font-size: 1.5rem;
  margin: 20px 20px 30px;
}

.u-section-6 .u-image-1 {
  height: 561px;
  width: 800px;
  margin: -32px 150px 7px auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 921px;
  }

  .u-section-6 .u-group-1 {
    width: 626px;
  }

  .u-section-6 .u-text-1 {
    position: relative;
  }

  .u-section-6 .u-icon-1 {
    margin-left: 84px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-image-1 {
    margin-right: 140px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 683px;
  }

  .u-section-6 .u-group-1 {
    width: 479px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-6 .u-icon-1 {
    margin-left: 63px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-image-1 {
    width: 720px;
    height: 505px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 657px;
  }

  .u-section-6 .u-group-1 {
    width: 449px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-image-1 {
    width: 540px;
    height: 379px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1263px;
  }

  .u-section-6 .u-group-1 {
    margin-top: 35px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-1 {
    font-weight: 700;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: -49px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 214px;
  }

  .u-section-6 .u-icon-1 {
    height: 85px;
    width: 194px;
    margin-top: 20px;
    margin-right: 70px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 0;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 282px;
  }

  .u-section-6 .u-icon-2 {
    margin-top: 6px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin: 0 6px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 346px;
  }

  .u-section-6 .u-icon-3 {
    height: 88px;
    width: 145px;
    margin-top: 10px;
    margin-left: 89px;
  }

  .u-section-6 .u-text-4 {
    margin: 10px 6px 0;
  }

  .u-section-6 .u-image-1 {
    height: 239px;
    margin-top: -38px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 526px;
}

.u-section-7 .u-text-1 {
  font-weight: normal;
  width: 719px;
  margin: 37px auto 0;
}

.u-section-7 .u-tabs-1 {
  min-height: 406px;
  margin-top: 30px;
  margin-bottom: 14px;
  height: auto;
}

.u-section-7 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-7 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-7 .u-tab-pane-1 {
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding: 20px 25px;
}

.u-section-7 .u-image-1 {
  width: 572px;
  height: 292px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-tab-pane-2 {
  background-image: none;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 25px;
}

.u-section-7 .u-image-2 {
  width: 592px;
  height: 292px;
  margin: 0 auto 0 0;
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    width: 540px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-1 {
    width: 520px;
    height: 265px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-2 {
    width: 520px;
    height: 256px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 384px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    font-weight: 700;
    margin-top: -83px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-tabs-1 {
    min-height: 346px;
    margin-top: 50px;
    margin-bottom: 19px;
  }

  .u-section-7 .u-image-1 {
    width: 320px;
    height: 163px;
  }

  .u-section-7 .u-image-2 {
    width: 320px;
    height: 158px;
  }
} .u-section-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.85), rgba(0,0,0,0.85)), url("images/pexels-christina-morillo-1181474.jpg");
}

.u-section-8 .u-sheet-1 {
  min-height: 1423px;
}

.u-section-8 .u-group-1 {
  min-height: 178px;
  width: 920px;
  margin: 60px auto 0;
}

.u-section-8 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-8 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: -70px;
  margin-bottom: 60px;
}

.u-section-8 .u-layout-cell-1 {
  background-image: none;
  min-height: 287px;
}

.u-section-8 .u-icon-1 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 27px auto 0 25px;
}

.u-section-8 .u-text-2 {
  margin: -44px 34px 0 114px;
}

.u-section-8 .u-text-3 {
  font-style: italic;
  margin: 33px 20px 0 114px;
}

.u-section-8 .u-layout-cell-2 {
  background-image: none;
  min-height: 287px;
}

.u-section-8 .u-icon-2 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 28px auto 0 25px;
}

.u-section-8 .u-text-4 {
  margin: -44px 34px 0 114px;
}

.u-section-8 .u-text-5 {
  font-style: italic;
  margin: 33px 20px 0 114px;
}

.u-section-8 .u-layout-cell-3 {
  background-image: none;
  min-height: 615px;
}

.u-section-8 .u-icon-3 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 28px auto 0 25px;
}

.u-section-8 .u-text-6 {
  margin: -44px 34px 0 114px;
}

.u-section-8 .u-text-7 {
  font-style: italic;
  margin: 33px 20px 0 114px;
}

.u-section-8 .u-layout-cell-4 {
  background-image: none;
  min-height: 615px;
}

.u-section-8 .u-text-8 {
  margin: 129px 10px 0;
}

@media (max-width: 1199px) {
   .u-section-8 {
    background-position: 56.33% 50%;
  }

  .u-section-8 .u-sheet-1 {
    min-height: 1435px;
  }

  .u-section-8 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-8 .u-text-1 {
    position: relative;
  }

  .u-section-8 .u-icon-1 {
    margin-left: 21px;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-right: 28px;
    margin-left: 112px;
    position: relative;
  }

  .u-section-8 .u-text-3 {
    width: auto;
    margin-right: 16px;
    margin-bottom: 12px;
    margin-left: 112px;
    position: relative;
  }

  .u-section-8 .u-icon-2 {
    margin-left: 21px;
  }

  .u-section-8 .u-text-4 {
    width: auto;
    margin-right: 28px;
    margin-left: 112px;
    position: relative;
  }

  .u-section-8 .u-text-5 {
    width: auto;
    margin-right: 16px;
    margin-bottom: 12px;
    margin-left: 112px;
    position: relative;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 296px;
  }

  .u-section-8 .u-icon-3 {
    margin-left: 21px;
  }

  .u-section-8 .u-text-6 {
    width: auto;
    margin-right: 28px;
    margin-left: 112px;
    position: relative;
  }

  .u-section-8 .u-text-7 {
    width: auto;
    margin-right: 16px;
    margin-bottom: 22px;
    margin-left: 112px;
    position: relative;
  }

  .u-section-8 .u-layout-cell-4 {
    min-height: 507px;
  }

  .u-section-8 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1154px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 548px;
  }

  .u-section-8 .u-icon-1 {
    margin-left: 16px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 21px;
    margin-left: 101px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 13px;
    margin-bottom: 2px;
    margin-left: 101px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 370px;
  }

  .u-section-8 .u-icon-2 {
    margin-left: 16px;
  }

  .u-section-8 .u-text-4 {
    margin-right: 21px;
    margin-left: 101px;
  }

  .u-section-8 .u-text-5 {
    margin-right: 13px;
    margin-bottom: 2px;
    margin-left: 101px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 380px;
  }

  .u-section-8 .u-icon-3 {
    margin-left: 16px;
  }

  .u-section-8 .u-text-6 {
    margin-right: 21px;
    margin-left: 96px;
  }

  .u-section-8 .u-text-7 {
    margin-right: 13px;
    margin-bottom: 6px;
    margin-left: 101px;
  }

  .u-section-8 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1254px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 372px;
  }

  .u-section-8 .u-icon-1 {
    margin-left: 12px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 16px;
    margin-left: 109px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 9px;
    margin-bottom: 0;
    margin-left: 109px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 309px;
  }

  .u-section-8 .u-icon-2 {
    margin-left: 12px;
  }

  .u-section-8 .u-text-4 {
    margin-right: 16px;
    margin-left: 109px;
  }

  .u-section-8 .u-text-5 {
    margin-right: 9px;
    margin-bottom: 0;
    margin-left: 109px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 316px;
  }

  .u-section-8 .u-icon-3 {
    margin-left: 12px;
  }

  .u-section-8 .u-text-6 {
    margin-right: 16px;
    margin-left: 109px;
  }

  .u-section-8 .u-text-7 {
    margin-right: 9px;
    margin-bottom: 0;
    margin-left: 109px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 2507px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 15px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-bottom: 11px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 437px;
  }

  .u-section-8 .u-icon-1 {
    margin-left: 7px;
  }

  .u-section-8 .u-text-2 {
    margin-top: -54px;
    margin-right: 14px;
    margin-left: 87px;
  }

  .u-section-8 .u-text-3 {
    margin-top: 43px;
    margin-right: 14px;
    margin-left: 22px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 517px;
  }

  .u-section-8 .u-icon-2 {
    margin-left: 7px;
  }

  .u-section-8 .u-text-4 {
    margin-top: -53px;
    margin-right: 12px;
    margin-left: 89px;
  }

  .u-section-8 .u-text-5 {
    margin-top: 45px;
    margin-right: 16px;
    margin-left: 34px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 768px;
  }

  .u-section-8 .u-icon-3 {
    margin-left: 7px;
  }

  .u-section-8 .u-text-6 {
    margin-top: -55px;
    margin-right: 10px;
    margin-left: 91px;
  }

  .u-section-8 .u-text-7 {
    margin-top: 44px;
    margin-right: 16px;
    margin-left: 40px;
  }

  .u-section-8 .u-layout-cell-4 {
    min-height: 637px;
  }

  .u-section-8 .u-text-8 {
    width: auto;
    margin-top: 16px;
    margin-left: 40px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 1290px;
}

.u-section-9 .u-layout-wrap-1 {
  margin: 70px auto 0 0;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 1249px;
}

.u-section-9 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-9 .u-text-1 {
  font-weight: normal;
  margin: 25px 0 0;
}

.u-section-9 .u-image-1 {
  height: 407px;
  margin-top: 19px;
  margin-bottom: 0;
}

.u-section-9 .u-text-2 {
  margin: 15px 0 0;
}

.u-section-9 .u-layout-cell-2 {
  background-image: none;
  min-height: 1069px;
}

.u-section-9 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-9 .u-text-3 {
  font-weight: normal;
  margin: 25px 0 0;
}

.u-section-9 .u-image-2 {
  height: 417px;
  margin-top: 14px;
  margin-bottom: 0;
}

.u-section-9 .u-text-4 {
  margin: 20px 0 50px;
}

.u-section-9 .u-layout-cell-3 {
  background-image: none;
  min-height: 1386px;
}

.u-section-9 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-9 .u-text-5 {
  font-weight: normal;
  margin: 25px 20px 0;
}

.u-section-9 .u-image-3 {
  height: 406px;
  width: 320px;
  margin: 19px auto 0 0;
}

.u-section-9 .u-text-6 {
  margin: 15px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1071px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 551px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-9 .u-image-1 {
    height: 327px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 551px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-9 .u-image-2 {
    height: 335px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 1274px;
  }

  .u-section-9 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-image-3 {
    height: 372px;
    width: 293px;
  }

  .u-section-9 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 141px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 615px;
  }

  .u-section-9 .u-image-1 {
    height: 239px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 615px;
  }

  .u-section-9 .u-image-2 {
    height: 245px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 643px;
  }

  .u-section-9 .u-image-3 {
    height: 279px;
    width: 220px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 241px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 1002px;
  }

  .u-section-9 .u-text-1 {
    position: relative;
  }

  .u-section-9 .u-image-1 {
    height: NaNpx;
  }

  .u-section-9 .u-text-2 {
    position: relative;
  }

  .u-section-9 .u-text-3 {
    position: relative;
  }

  .u-section-9 .u-image-2 {
    height: NaNpx;
  }

  .u-section-9 .u-text-4 {
    position: relative;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 881px;
  }

  .u-section-9 .u-text-5 {
    position: relative;
  }

  .u-section-9 .u-text-6 {
    position: relative;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 833px;
  }

  .u-section-9 .u-text-1 {
    font-weight: 700;
  }

  .u-section-9 .u-image-1 {
    margin-top: 20px;
    height: 412px;
  }

  .u-section-9 .u-text-2 {
    width: auto;
    margin-top: 24px;
    margin-right: 14px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 1020px;
  }

  .u-section-9 .u-text-3 {
    font-weight: 700;
  }

  .u-section-9 .u-image-2 {
    object-position: 50% 51.4%;
    width: 340px;
    height: 411px;
  }

  .u-section-9 .u-text-4 {
    width: auto;
    margin-top: 25px;
    margin-right: 14px;
    margin-bottom: 0;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 1118px;
  }

  .u-section-9 .u-text-5 {
    width: auto;
    font-weight: 700;
  }

  .u-section-9 .u-image-3 {
    object-position: 50% 20.73%;
    height: 411px;
    width: 340px;
  }

  .u-section-9 .u-text-6 {
    width: auto;
    margin-top: 25px;
  }
} .u-section-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.85), rgba(0,0,0,0.85)), url("images/pexels-mikhail-nilov-7583935.jpg");
}

.u-section-10 .u-sheet-1 {
  min-height: 1332px;
}

.u-section-10 .u-group-1 {
  min-height: 129px;
  width: 920px;
  height: auto;
  margin: 37px auto 0;
}

.u-section-10 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-10 .u-text-1 {
  margin: 24px 0 15px;
}

.u-section-10 .u-layout-wrap-1 {
  margin-top: -4px;
  margin-bottom: 51px;
}

.u-section-10 .u-layout-cell-1 {
  background-image: none;
  min-height: 1149px;
}

.u-section-10 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-10 .u-image-1 {
  width: 75px;
  height: 75px;
  background-image: url("images/vijay.png");
  background-position: 50% 50%;
  margin: 30px 225px 0 auto;
}

.u-section-10 .u-text-2 {
  background-image: none;
  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: normal;
  margin: 17px 34px 0 114px;
}

.u-section-10 .u-text-3 {
  font-style: italic;
  margin: 20px 20px 0 114px;
}

.u-section-10 .u-layout-cell-2 {
  background-image: none;
  min-height: 1149px;
}

.u-section-10 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-10 .u-image-2 {
  width: 75px;
  height: 75px;
  background-image: url("images/suresh.jfif");
  background-position: 50% 50%;
  margin: 30px 215px 0 auto;
}

.u-section-10 .u-text-4 {
  background-image: none;
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 24px;
  margin: 17px 20px 0 114px;
}

.u-section-10 .u-text-5 {
  font-style: italic;
  margin: 10px 20px 0 114px;
}

@media (max-width: 1199px) {
   .u-section-10 {
    background-position: 50% 0.0986436vh;
  }

  .u-section-10 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-10 .u-group-1 {
    margin-top: 54px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-10 .u-text-1 {
    position: relative;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-top: 50px;
    margin-bottom: 0;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 947px;
  }

  .u-section-10 .u-image-1 {
    width: 54px;
    height: 54px;
    margin-top: 25px;
    margin-left: 21px;
  }

  .u-section-10 .u-text-2 {
    margin-right: 0;
    margin-left: 48px;
  }

  .u-section-10 .u-text-3 {
    width: auto;
    margin-right: 0;
    margin-left: 48px;
    position: relative;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 947px;
  }

  .u-section-10 .u-image-2 {
    width: 54px;
    height: 54px;
    margin-left: 21px;
  }

  .u-section-10 .u-text-4 {
    margin-right: 0;
    margin-left: 34px;
  }

  .u-section-10 .u-text-5 {
    width: auto;
    margin-top: -54px;
    margin-right: 16px;
    margin-left: 94px;
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 623px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-10 .u-image-1 {
    width: 55px;
    height: 55px;
    margin-left: 16px;
  }

  .u-section-10 .u-text-2 {
    margin-left: 0;
  }

  .u-section-10 .u-text-3 {
    margin-left: 0;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-10 .u-image-2 {
    width: 56px;
    height: 56px;
    margin-left: 16px;
  }

  .u-section-10 .u-text-4 {
    margin-left: 0;
  }

  .u-section-10 .u-text-5 {
    margin-top: -56px;
    margin-right: 13px;
    margin-left: 99px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 769px;
  }

  .u-section-10 .u-group-1 {
    margin-top: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .u-section-10 .u-image-1 {
    width: 70px;
    height: 70px;
    margin-left: 12px;
  }

  .u-section-10 .u-image-2 {
    width: 70px;
    height: 70px;
    margin-top: 19px;
    margin-left: 12px;
  }

  .u-section-10 .u-text-5 {
    margin-top: -81px;
    margin-right: 10px;
    margin-left: 120px;
  }
}

@media (max-width: 575px) {
   .u-section-10 {
    background-position: 50% 50%;
  }

  .u-section-10 .u-sheet-1 {
    min-height: 1619px;
  }

  .u-section-10 .u-group-1 {
    min-height: 121px;
    margin-top: 71px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-text-1 {
    margin-top: 19px;
    margin-bottom: 7px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-top: -33px;
    margin-bottom: 40px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 1039px;
  }

  .u-section-10 .u-image-1 {
    width: 119px;
    height: 119px;
    margin-top: 19px;
    margin-right: 111px;
    margin-left: 110px;
  }

  .u-section-10 .u-text-2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 19px;
  }

  .u-section-10 .u-text-3 {
    margin-top: 25px;
    margin-right: 17px;
    margin-left: 1px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 1411px;
  }

  .u-section-10 .u-image-2 {
    width: 119px;
    height: 119px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-10 .u-text-4 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.6;
  }

  .u-section-10 .u-text-5 {
    margin-top: 27px;
    margin-right: 0;
    margin-left: 10px;
  }
} .u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 369px;
}

.u-section-11 .u-group-1 {
  min-height: 287px;
  width: 480px;
  height: auto;
  margin: 41px auto 0 0;
}

.u-section-11 .u-container-layout-1 {
  padding-right: 0;
}

.u-section-11 .u-text-1 {
  font-size: 1.875rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0 20px;
}

.u-section-11 .u-text-2 {
  font-size: 3rem;
  letter-spacing: 4px;
  background-image: none;
  margin: 53px 20px 0;
}

.u-section-11 .u-btn-1 {
  background-image: none;
}

.u-section-11 .u-form-1 {
  height: 373px;
  margin: -331px 0 -41px 570px;
}

.u-section-11 .u-form-group-3 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-11 .u-group-1 {
    height: auto;
  }

  .u-section-11 .u-container-layout-1 {
    padding-right: 16px;
    padding-left: 16px;
  }

  .u-section-11 .u-text-1 {
    position: relative;
    font-size: 1.5rem;
  }

  .u-section-11 .u-text-2 {
    position: relative;
    margin-top: 31px;
  }

  .u-section-11 .u-form-1 {
    width: 570px;
    margin-top: 20px;
    margin-left: 0;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 721px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-right: 0;
    padding-left: 0;
  }

  .u-section-11 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-11 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-11 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-11 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 719px;
  }

  .u-section-11 .u-group-1 {
    width: 340px;
  }

  .u-section-11 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
    font-size: 1.125rem;
  }

  .u-section-11 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-11 .u-btn-1 {
    padding: 0;
  }

  .u-section-11 .u-form-1 {
    margin-top: -67px;
    margin-bottom: -306px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 53px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 430px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 353px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 580px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 17px;
  }
}